{% extends 'layout.html' %}

{% block body%}

    <form action = "" method = "POST" style="padding: 20px;width: 500px;margin: 0 auto;box-shadow: 3px 3px 3px #888888;border:1px solid;border-color: #d5d5d5d5">
    <h1 align="center">Find back your password</h1>
        <div class = "form-group">
            <label>Email</label>
            <input type="text" name = "email" class="form-control" value={{ request.form.email }}>
        </div>


        <div style="margin-left: 350px">
            <button type="submit" class = "btn-u btn-u-lg btn-u-blue btn-u-upper rounded-2x">Submit</button>
        </div>
        <br>

    <br>
    </form>



{% endblock %}
